@page "/"
@inject MediatR.IMediator _mediator
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<ul>
    @foreach(var p in People){
        <li>@p.Name @p.LastName</li>
    }
</ul>


@code {
    List<PersonModel> People;
    protected override async Task OnInitializedAsync()
    {
        People = await _mediator.Send(new GetPersonListQuery());
    }
}